@import 'styles_sub.css';
:root{
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #FFFFFF;
    --ternary: #898989;
    --light: #F2F2F2;
}
body{
    font-family:'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}
header{
    background: linear-gradient(45deg, #1a1a1a, #333333);
}
.container{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }    
    .section-heading_special {
        max-width: 720px;
        line-height: 1.35;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .section-heading_special {
        max-width: 1152px;
        line-height: 1.35;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .section-heading_special {
        max-width: 1152px;
        line-height: 0.125;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
    .section-heading_special {
        max-width: 1152px;
        line-height: 0.125;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 0 100%);
    }
}
header nav {
    padding:2rem 0;
}
header nav .branding{
    margin-right:3rem;
}
header nav .branding img {
    width: 60px; 
    height: auto; 
    border: 2px solid var(--primary);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(61, 207, 211, 1); 
    transition: all 0.5s ease;
    margin-top: .5rem;
}
header nav .branding img:hover {
    transform: rotate(360deg);
}

header nav .left a{
    font-size: 1.2rem;
    color:var(--pure);
    text-decoration: none;
    margin-right:1rem;
    text-transform:none;
    transition:all .3s ease;
}
header nav .left a:hover{
    color:var(--primary);
}

.hero{
    padding:3rem 0;
}
.hero .left img {
    width: 70%;
    height: auto;
    border-radius: 50%;
    margin-top:1rem;
    margin-bottom: 6rem;
    border: 5px solid var(--primary);
    box-shadow: 0 0 10px rgba(61, 207, 211, 1);
    transition: all 0.5s ease;
    filter: brightness(1.1);
}
.hero .right{
    flex: 1;
    margin-left: 20px;
    color:var(--pure);
    margin-top:-8rem;
}
.hero .right h1{
    font-size:4rem;
    color:var(--primary);
    font-weight:100;
    line-height:1.2;
    margin-bottom:0.5rem;
}
.hero .right h2{
    font-size:2.5rem;
    font-weight:100;
    line-height:1.2;
    margin-bottom:.5rem;
    color:var(--primary);
}
.hero .right h2 span{
    color: var(--secondary)
}
.hero .right h6{
    font-size:1.5rem;
    margin-bottom:0.5rem;
    color: var(--secondary)
}
.hero .right p{
    line-height:1.9;
    margin-bottom:2rem;
    text-align: justify;
}

/* SECTIONS */

section{
    padding:4rem 0;
}

 /* ABOUT SECTION */

section.about .about-me-img {
    width: 65%;
    height: auto;
    border: 10px solid transparent;
    border-image: linear-gradient(45deg, var(--primary), var(--ternary));
    border-image-slice: 1;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, var(--dark), var(--ternary));
    transition: transform 0.3s ease;
}
section.about .about-me-img:hover {
    transform: scale(1.15);
}
section.about h1{
    margin-bottom: 1rem;
    font-size:1.6rem;
    font-weight:400;
}
section.about h1 span{
    color:var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom:1rem;
    font-weight: 400;
}
section.about p{
    font-family:'Lato', sans-serif;
    color:var(--ternary);
    line-height: 1.8;
    margin-bottom:2rem;
    text-align: justify;
}
section.about .social{
    display:flex;
}
section.about .social a{
    display:flex;
    align-items:center;
    justify-content:center;
    width:40px;
    height:40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right:0.6rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
section.about .social a:hover{
    background:var(--primary);
}
section.about .social a img{
    width:100%;
    height:100%;
    padding:0.5rem;
}
.section-heading{
    color:var(--secondary); 
    text-align: center;
    margin-bottom:8rem;
    line-height: 0.5;
    font-size: 2.2rem;
}
.section-heading span{
    color:var(--primary);
}

/* TIMELINE SECTION */

section.timeline{
    background: linear-gradient(to bottom, var(--light), #303030);
}
section.timeline .card-wrapper{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:3rem;
    grid-row-gap:8rem;
}
section.timeline .card-wrapper .card{
    position:relative;
    padding-top:5rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: linear-gradient(to bottom right, var(--pure), var(--light));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
section.timeline .card-wrapper .card img{
    width: 50px;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
section.timeline .card-wrapper .card h2{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom:0.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
 }
 section.timeline .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color:var(--ternary);
    line-height:1.6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
 }
 section.timeline .card-wrapper .card h3{
    font-family: 'Lato', sans-serif;
    color:var(--ternary);
    line-height:1.6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
 
section.timeline .card-wrapper .card:hover{
    background: linear-gradient(to left top, var(--light), var(--primary));
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
section.timeline .card-wrapper .card:hover h2, section.timeline .card-wrapper .card:hover p{
    color:var(--pure);
}

 /* PROJECTS SECTION */

section.projects p{
    color:var(--ternary);
    font-family:'Lato', sans-serif;
    margin-bottom:1rem;
    text-align: center;
}
section.projects h1{
    font-weight: 600;
    margin-bottom:4rem;
}
section.projects{
    background: linear-gradient(to bottom, #303030, #f5f5f5);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
    padding-bottom:10rem;
}
section.projects .section-heading{
    color:var(--pure);
}
section.projects .card-wrapper{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:3rem;
}
section.projects .card-wrapper .card{
    background:var(--pure);
}
section.projects .card-wrapper .card .img-wrapper img{
    width:100%;
    height:100%;
    object-fit: cover;
}
section.projects .card-wrapper .card .card-content{
    padding:1rem;
    padding-left:2rem;
    padding-right:2rem;
}
section.projects .card-wrapper .card .card-content h1{
    font-size:1rem;
    font-weight:600;
    margin-bottom:.5rem;
}
section.projects .card-wrapper .card .card-content a{
    color:var(--secondary);
    text-decoration: none;
}
section.projects .card-wrapper .card .card-content a:hover{
    color:var(--primary);
}
section.projects .card-wrapper .card .card-content span{
   color:var(--ternary);
   font-size:1rem; 
}
section.projects .card-wrapper .card .card-content p{
    font-family:'Lato', sans-serif;
    color:var(--ternary);
    margin-top:1rem;
    margin-bottom:1rem;
    text-align: justify;
}
section.projects .card-wrapper .card .card-content a.read-more{
    font-size:0.8rem;
}

 /* ACHEIVEMENTS SECTION */

section.achievement h1{
    font-weight: 600;
    margin-bottom:4rem;
}
section.achievement p{
    color:var(--ternary);
    font-family:'Lato', sans-serif;
    margin-bottom:1rem;
    text-align: center;
}
section.achievement .slider .slide img{
    width:80%;
    height:100%;  
    object-fit:cover;
    margin-bottom:2rem;
}
section.achievement .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:0 10rem;
}
section.achievement .slider .slide p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color:var(--ternary);
    margin-bottom: 1rem;
}
section.achievement .slider .slide span{
    font-size: 2rem;
}
section.achievement .slider-dots .dots{
    list-style-type:none;
    display:flex!important;
    justify-content: center;
}
section.achievement .slider-dots{
    margin-top:3rem;
}
section.achievement .slider-dots button{
    font-size:0;
    width:8px;
    height:5px;
    margin-right:0.3rem;
    border: none;
    outline:none;
    background:var(--ternary);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
}
section.achievement .dots li.slick-active button{
    background:var(--primary);
    width:20px;
}

 /* Gap SECTION */

section.section_gap{
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/html-system-website-concept.jpg);
    background-size:1080px 100%;
    color:var(--light);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom:14rem;
}

 /* photography_id SECTION */

section.photography_id{
    background: linear-gradient(to top, var(--light), var(--pure));
}
section.photography_id p{
    color:var(--ternary);
    font-family:'Lato', sans-serif;
    margin-bottom:1rem;
    text-align: center;
}
section.photography_id h1{
    font-weight: 600;
    margin-bottom:3rem;
}
section.photography_id .card-wrapper{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:2rem;
}
section.photography_id .card-wrapper .card{
    position:relative;
    height:250px;
}
section.photography_id .card-wrapper .card .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(61, 207, 211,0.9);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color:var(--light);
    opacity:0;
    transition:all .3s ease;
}
section.photography_id .card-wrapper .card:hover .overlay{
    opacity:1;
}
section.photography_id .card-wrapper .card .overlay a{
    color:var(--secondary);
    text-decoration: none;
}
section.photography_id .card-wrapper .card img{
    height:100%;
    width:100%;
}

 /* CONTACT SECTION */

section.contact p{
    color:var(--ternary);
    font-family:'Lato', sans-serif;
    margin-bottom:1rem;
    text-align: center;
}
section.contact .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    width:20px;
    height: auto;
}
section.contact .card-wrapper .card h1{
    font-weight:400;
}
section.contact .card-wrapper .card h6{
    font-size:1rem;
    color:var(--ternary);
    font-weight:400;
    margin-bottom:4rem;
}
section.contact .input-wrap{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
    margin-bottom:2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom:2rem;
}
section.contact input{
    padding:0.5rem;
    border:1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea{
    padding:0.5rem;
    border:1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline:none;  
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top:2rem;
}

.contact-section .section-heading {
    color:var(--secondary); 
    text-align: center;
    margin-bottom:3rem;
    line-height: 0.5;
    font-size: 2.2rem;
}

.section-heading_special{
    color:var(--secondary); 
    text-align: center;
    margin-bottom:8rem;
    font-size: 2.2rem;
}
.section-heading_special span{
    color:var(--primary);
}
/*section-heading_special -> Media Query are added with the container above*/

 /* FOOTER SECTION */

footer{
    background:var(--light);
    text-align: center;
    padding:1rem 0;
}
footer .footer-logo{
    margin-bottom:1rem;
    width:60px;
    height: auto;
    border: 2px solid var(--primary);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(61, 207, 211, 1); 
    justify-content: center;
}
footer .footer-socials a{
    display:flex;
    align-items:center;
    justify-content:center;
    width:40px;
    height:40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right:0.6rem;
    transition: all .3s ease;
}
footer .footer-socials{
    display:flex;
    justify-content: center;
}
footer .footer-socials a:hover{
    background:var(--primary);
}
footer .footer-socials a img{
    width:100%;
    height:100%;
    padding:0.5rem;
}
footer .copyright{
    color:var(--ternary);
}
.site-main-wrapper{
    position:relative;
}

 /* HAMBURGER MENU */

.hamberger{
    position:absolute;
    top:40px;
    right:40px;
    z-index:11;
    background:none;
    border:none;
    outline: none;
    cursor: pointer;
    display:none;
}
.hamberger img{
    width:30px;
    height: 30px;
    background-color: var(--primary);
}
.times{
    position:absolute;
    top: 20px;
    right:20px;
    border: none;
    background:none;
    outline:none;
    cursor: pointer; 
}
.times img{
    width:25px;
 }
.responsive_branding{
    position:absolute;
    top:30px;
    left:40px;
    z-index:11;
    display: none;
    background:none;
 }
.responsive_branding img {
    width: 50px; 
    height: 50px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(61, 207, 211, 1); 
    transition: all 0.5s ease;
}

 /* MOBILE NAV */

.mobile-nav {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1001;
    background: linear-gradient(to right, #FFFFFF, #3DCFD3);
    width: 200px;
    height: 300px;
    padding: 1rem;
    padding-top: 1.3rem;
    flex-direction: column;
    align-items: flex-end;
    transition: display 0.3s ease-in-out;
    overflow: hidden;
    display: none;
}
.mobile-nav.open {
    display: block;
}
.mobile-nav ul{
    list-style-type: none;
    padding: 0;
 }
.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
 }
 .mobile-nav ul li a:hover {
    color: var(--primary);
}

/* GO TO TOP */

.go-top {
    position: fixed;
    bottom: 0;
    right: 15px;
    background: hsl(180, 98%, 31%);
    font-size: 20px;
    padding: 10px;
    border-radius:5px;
    visibility: hidden;
    opacity: 0;
    transition: 0.15s;
}
  
.go-top.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(-15px);
}
  
.go-top:hover, .go-top:focus {
      transform: translateY(-25px);
}
.go-top img{
    width:auto;
    height:20px;
}


 @media (max-width:1024px){
     header #main-nav{
         display:none;
     }
     .hamberger{
         display: block;
     }
     .responsive_branding{
        display: block;
     }
     .hero .left img{
         width:260px;
     }
     .hero .right h1{
         font-size: 3rem;
     }
     .hero{
         padding-top:10rem;
     }
     section.about .about-me-img{
         height: 360px;
     }
     section.timeline .card-wrapper{
         grid-template-columns: repeat(2, 1fr);
     }
     section.photography_id .card-wrapper{
         grid-template-columns: repeat(2,1fr);
     }
     section.projects .card-wrapper{
         grid-template-columns: repeat(1, 1fr);
     }
     section.projects{
         clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
     }
 }

 @media (max-width:576px){
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 95%, 0 100%);
    }
     .hero{
         flex-direction: column;
     }
     .hero .right{
         position: absolute;
         top:35rem;
         padding:0 1rem;
         background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
     }
     .hero .left{
         margin-top:-3rem;
         margin-right: 0rem;
         padding-bottom:30rem;
     }

     .about-inner-wrap{
         flex-direction: column;
     }
    
     .about .right{
         text-align: center;
         margin-top:2rem;
     }
     .about .right .social{
         justify-content: center;
     }
     section.about .about-me-img {
        margin: 0 4rem;
    }
     section{
         padding: 4rem 0;
     }
     section.timeline .card-wrapper{
         grid-template-columns: repeat(1, 1fr);
         margin-top:6rem;
     }
     section.section_gap h1{
         line-height:1.2;
     }
     section.section_gap{
         clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
         padding-bottom: 8rem;
     }
     section.achievement .slider .slide{
         padding:0;
     }
     .section-heading + p{
         margin-bottom: 3rem;
     }
     section.photography_id .card-wrapper{
         grid-template-columns: repeat(1,1fr);
     }
     section.contact .card-wrapper{
         grid-template-columns: repeat(1,1fr);
     }
     section.contact .input-wrap{
         grid-template-columns: repeat(1, 1fr);
     }
 }